html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: yellowgreen;
  margin: 0;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 2.0rem;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  row-gap: 20px;
}

.textarea {
  width: 800px;
  height: 200px;
}

.keyboard {
  padding: 10px;
  background: silver;
}

.keyboard__row {
  display: flex;
  justify-content: space-between;
  width: 800px;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}

.key {
  min-width: 40px;
  height: 40px;
  padding: 0 10px;
  background: whitesmoke;
  cursor: pointer;
  border-radius: 3px;
}

.ShiftLeft,
.ShiftRight,
.Enter {
  flex-grow: 1;
  min-width: 100px;
}

.ControlLeft,
.ControlRight {
  min-width: 70px;
}

.Space {
  flex-grow: 1;
}

.key:hover {
  background: red;
}

.active {
  background: red;
}

.pressed {
  background: goldenrod;
}

.key-en,
.key-ru {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}