html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: yellowgreen;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
}